.before-input {
    background-color: #fff;
    border: 2px solid;
    text-align: center;
    padding: 15px;
    margin: 15px 0;
}
.before-input::before {
    content: '#';
    position: absolute;
    left: 100px;
}

.input {
    border: none;
    outline:none;
    font-size: 30px;
    width: 100%;
    text-align: center;
}
